Repository trallnag/prometheus-fastapi-instrumentator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.5.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types_or: [json, yaml, markdown]
        args: [--prose-wrap=always]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.8.1
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black
        require_serial: true
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8 --config .flake8 --statistics
        require_serial: true
        types: [python]

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        require_serial: true
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run dmypy run --timeout 3600 src
        require_serial: true
        pass_filenames: false
        files: ^src/.+$
        exclude: ^tests/.+$

exclude: |
  (?x)^(
    poetry.lock
  )$

ci:
  autofix_commit_msg: "refactor(pre-commit): Apply hook auto fixes"
  autoupdate_commit_msg: "build(pre-commit): Apply hook rev updates"
  skip:
    - black
    - flake8
    - isort
    - mypy

docs: Update README
  README.md
Due: none

chore: Prepare release v6.1.0
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

docs: Add missing word to changelog
  CHANGELOG.md
Due: none

docs: Add example default metrics with custom labels
  devel/examples/README.md
  devel/examples/default-metrics-diff-labels/README.md
  devel/examples/default-metrics-diff-labels/main.py
Due: black, flake8, isort

Remove dead links from README
  README.md
Due: none

Replace fastapi with Starlette
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

[labels] feat: [NS] labels-on-header
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

[labels] feat: [NS] labels-on-header
  src/prometheus_fastapi_instrumentator/metrics.py
Due: black, flake8, isort, mypy

feat: added support for custom lables like service name and version
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

docs: added support for custom labels
  README.md
Due: none

feat: Add HTTP Basic auth on the metrics endpoint
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_instrumentator_expose.py
Due: black, flake8, isort, mypy

Track response start duration
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

build(pre-commit): Apply hook rev updates
  .pre-commit-config.yaml
Due: none

build(deps): Update dependencies
  poetry.lock
Due: none

ci: Update GitHub Actions versions
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/testpypi.yaml
Due: none

build!: Remove support for Python 3.7 and upgrade deps
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

chore: Add ignore E231 to flake8
  .flake8
Due: none

ci: Update dev deps to latest
  poetry.lock
  pyproject.toml
Due: none

Relax type of get_route_name argument to HttpConnection
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

fix: Fix capitalization of class
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

docs: Add entry to changelog
  CHANGELOG.md
Due: none

docs: Change type of change to feature
  CHANGELOG.md
Due: none

feat: Relax type of get_route_name argument to HttpConnection (#276)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

build(deps): Move fastapi to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

fix: Make it work
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_expose.py
Due: black, flake8, isort, mypy

feat: Make instrumentator work with just Starlette (#288)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_expose.py
Due: black, flake8, isort, mypy

fix: Add default to Info constructor and adjust test
  src/prometheus_fastapi_instrumentator/metrics.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

fix: Make mypy happy
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

docs: Add parameter to docstring
  src/prometheus_fastapi_instrumentator/metrics.py
Due: black, flake8, isort, mypy

fix: Add start time stuff to body handler
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

test: Add test
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_middleware.py
Due: black, flake8, isort, mypy

feat: Add duration stuff to default and add tests
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

feat: Instrument latency without streaming duration (#290)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_metrics.py
  tests/test_middleware.py
Due: black, flake8, isort, mypy

chore: Prepare release v7.0.0
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

docs: Emphasize some things
  CHANGELOG.md
Due: none

docs: Remove `expose(app)` from metrics-diff-port-uvicorn example
  devel/examples/metrics-diff-port-uvicorn/main.py
Due: black, flake8, isort

feat(build): pyproject.toml format is aligned with PyPA specification
  poetry.lock
  pyproject.toml
Due: none

feat(build): .pre-commit-config.yaml has been actualized
  .pre-commit-config.yaml
  pyproject.toml
Due: none
