Repository trallnag/prometheus-fastapi-instrumentator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy

black:
  name: black
  language: system
  entry: poetry run black
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: poetry run flake8 --config .flake8 --statistics
  require_serial: true

isort:
  name: isort
  language: system
  entry: poetry run isort
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run dmypy run --timeout 3600 src
  require_serial: true
  pass_filenames: false

feat: Make add() accept args funcs (#230)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort, mypy

chore: Prepare release v5.11.0
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

docs: Update RELEASE.md
  RELEASE.md
Due: none

fix: Improve typing
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

chore: Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Improve typing (#231)
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

chore: Prepare release v5.11.1
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

docs: Add usage example for multi proc behavior
  devel/examples/prom-multi-proc-gunicorn/README.md
  devel/examples/prom-multi-proc-gunicorn/gunicorn.conf.py
  devel/examples/prom-multi-proc-gunicorn/main.py
Due: black, flake8, isort

Remove unnecessary body aggregation
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

Update __init__.py
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

Update middleware.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

Update instrumentation.py
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

chore: Fix
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Add tests
  tests/test_middleware.py
Due: black, flake8, isort

chore: Update changelog
  CHANGELOG.md
Due: none

fix: Fix info.response.body empty with normal responses (#237)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_middleware.py
Due: black, flake8, isort, mypy

chore: Prepare release v5.11.2
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

chore: Increase flake complexity to 12
  .flake8
Due: none

chore: Rename and add info to docstring
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Adjust tests
  tests/test_middleware.py
Due: black, flake8, isort

feat!: Move inclusion of content in info object behind feature flag (#238)
  .flake8
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_middleware.py
Due: black, flake8, isort, mypy

chore: Prepare release v6.0.0
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

docs: Add link to discussion
  CHANGELOG.md
Due: none

docs: Add example for different metrics port
  devel/examples/README.md
  devel/examples/metrics-diff-port-uvicorn/README.md
  devel/examples/metrics-diff-port-uvicorn/main.py
Due: black, flake8, isort

chore: Remove unused metric
  devel/examples/metrics-diff-port-uvicorn/main.py
Due: black, flake8, isort

ci(pre-commit): Adjust ci config
  .pre-commit-config.yaml
Due: none

docs: Add example for different metrics port (#244)
  devel/examples/README.md
  devel/examples/metrics-diff-port-uvicorn/README.md
  devel/examples/metrics-diff-port-uvicorn/main.py
Due: black, flake8, isort

feat: add method to http_request_duration_seconds metric
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/metrics.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

chore(pre-commit): Update and adjust
  .pre-commit-config.yaml
Due: none

chore(prettier): Apply changed formatting
  .github/workflows/ci.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/testpypi.yaml
  CHANGELOG.md
Due: none

build(poetry): Update dependencies
  poetry.lock
Due: none

test: Fix failing test due to pydantic change
  tests/test_instrumentation.py
Due: black, flake8, isort

chore(task): Add tasks and update tasks
  Taskfile.yaml
Due: none

chore: Adjust changelog
  CHANGELOG.md
Due: none

chore(task): Switch to prettier from mdformat
  Taskfile.yaml
Due: none

feat: Add method label to http_request_duration_seconds metric (#251)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/metrics.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  flake8: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  isort: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  mypy: any of: ^src/.+$ and not (^tests/.+$) and not ((?x)^(
  poetry.lock
)$
)
