Repository trallnag/prometheus-fastapi-instrumentator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy

black:
  name: black
  language: system
  entry: poetry run black
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: poetry run flake8 --config .flake8 --statistics
  require_serial: true

isort:
  name: isort
  language: system
  entry: poetry run isort
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run dmypy run --timeout 3600 src
  require_serial: true
  pass_filenames: false

chore: Delete scripts
  scripts/base.sh
  scripts/log.sh
  scripts/shellcheck.sh
  scripts/shfmt.sh
  scripts/test.sh
Due: none

chore: Rework GitHub Actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/lint-pr-title.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release-please.yaml
  .github/workflows/release-testpypi.yaml
  .github/workflows/release.yaml
  .github/workflows/testpypi.yaml
  .github/workflows/tests-and-checks.yaml
Due: none

chore: Update docs
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  RELEASE.md
  devel/poetry.md
  devel/pre-commit.md
  devel/task.md
  docs/README.md
  docs/devel/README.md
  docs/devel/assets/vscode-settings/extensions.json
  docs/devel/assets/vscode-settings/settings.json
  docs/devel/please-release.md
  docs/devel/poetry.md
  docs/devel/pre-commit.md
Due: none

chore: Adjust markdownlint
  .markdownlint.yaml
  .markdownlintignore
Due: none

chore: Move commitlint config to yaml
  .commitlintrc.yaml
  commitlint.config.js
Due: none

chore: Update Python integration
  pyproject.toml
  pytest.ini
  tests/test_markers.py
Due: black, flake8, isort

chore: Add editorconfig
  .editorconfig
Due: none

chore: Delete unused asdf config
  .tool-versions
Due: none

chore: Add Taskfile config
  Taskfile.yaml
Due: none

chore: Adjust lowest Python version to 3.7
  .github/workflows/ci.yaml
Due: none

Replaces the URL handler logic with the one from Elastic APM
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Put code into module and add documentation
  CHANGELOG.md
  README.md
  src/prometheus_fastapi_instrumentator/middleware.py
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

feat: Add smart handling of mounted apps (#208)
  CHANGELOG.md
  README.md
  src/prometheus_fastapi_instrumentator/middleware.py
  src/prometheus_fastapi_instrumentator/routing.py
Due: black, flake8, isort, mypy

ci: Fix test coverage report generation
  .github/workflows/ci.yaml
  Taskfile.yaml
Due: none

feat: namespace and subsystem configuration.
  README.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

chore: Adjust README.md and update CHANGELOG.md
  CHANGELOG.md
  README.md
Due: none

feat: Add namespace and subsystem configuration (#193)
  CHANGELOG.md
  README.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

fix: issue 76 added request body to info.response
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Fix key error if more_body not present
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat: Add request body to info.response object (#203)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

If status_code is HTTPStatus enumeration use value
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_instrumentation.py
Due: black, flake8, isort, mypy

Use isinstance instead of type
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

fix: Use actual value if HTTP status is enum (#192)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_instrumentation.py
Due: black, flake8, isort, mypy

✨ Allow passing a custom registry to be used instead of using the default one
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

♻️ Pass the custom registry down to all the places that need it
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

✅ Test Prometheus doesn't break with other middleware
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort

✅ Add tests for multiple apps with custom registries
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort

♻️ Create metrics only if they don't already exist in registry, as Starlette might re-instantiate middleware classes
  src/prometheus_fastapi_instrumentator/metrics.py
Due: black, flake8, isort, mypy

✅ Add tests for custom registry and default registry
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort

♻️ Wrap adding a new metric in a try block to prevent errors when adding new middlewares
  src/prometheus_fastapi_instrumentator/metrics.py
Due: black, flake8, isort, mypy

chore: Fix rebase
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

feat: Allow passing a custom registry to be used instead of using the default one (#153)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort, mypy

Deprecate lower-case 'prometheus_multiproc_dir'
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_instrumentation.py
Due: black, flake8, isort, mypy

chore: Add multi process test to Taskfile
  Taskfile.yaml
Due: none

chore: Add multiproc test to ci workflow
  .github/workflows/ci.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  flake8: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  isort: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  mypy: any of: ^src/.+$ and not (^tests/.+$) and not ((?x)^(
  poetry.lock
)$
)
