Repository trallnag/prometheus-fastapi-instrumentator: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy

black:
  name: black
  language: system
  entry: poetry run black
  require_serial: true

flake8:
  name: flake8
  language: system
  entry: poetry run flake8 --config .flake8 --statistics
  require_serial: true

isort:
  name: isort
  language: system
  entry: poetry run isort
  require_serial: true

mypy:
  name: mypy
  language: system
  entry: poetry run dmypy run --timeout 3600 src
  require_serial: true
  pass_filenames: false

chore: Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: Fix ci workflow
  .github/workflows/ci.yaml
Due: none

chore: Deprecate lower-case prometheus_multiproc_dir (#217)
  .github/workflows/ci.yaml
  CHANGELOG.md
  Taskfile.yaml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_instrumentation.py
Due: black, flake8, isort, mypy

feat: Allow truthy values for env variable
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

feat: Allow truthy values for env variable (#28)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

Add async instrumentation support
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Fix type hinting
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Adjust docstring
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

test: Add test for async instrumentation
  tests/test_instrumentation.py
Due: black, flake8, isort

fix: Fix missing passthrough of async instrumentations
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

feat: Add support for async instrumentation functions (#61)
  CHANGELOG.md
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_instrumentation.py
Due: black, flake8, isort, mypy

docs: Add missing related issues to changelog
  CHANGELOG.md
Due: none

chore: Add uvicorn as dev dep
  poetry.lock
  pyproject.toml
Due: none

chore: Add test utils / helpers
  pyproject.toml
  tests/helpers/__init__.py
  tests/helpers/utils.py
Due: black, flake8, isort

test: Add tests for mounted apps
  tests/test_instrumentator_mounted_apps.py
Due: black, flake8, isort

docs: Update README.md
  README.md
Due: none

ci: Add additional check before release
  .github/workflows/release.yaml
  .github/workflows/testpypi.yaml
Due: none

chore: Prepare release v5.10.0
  CHANGELOG.md
  pyproject.toml
  src/prometheus_fastapi_instrumentator/__init__.py
Due: black, flake8, isort, mypy

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Potential fix
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

chore: Enter regression with upgrade
  poetry.lock
  pyproject.toml
Due: none

fix: Check for function being None before adding
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
Due: black, flake8, isort, mypy

test: Adjust tests for multiple apps
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort

chore: Update deps in lock
  poetry.lock
Due: none

chore: Improve metrics
  src/prometheus_fastapi_instrumentator/metrics.py
  tests/test_instrumentator_multiple_apps.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

docs: Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Fix regression multi app Prometheus registry (#220)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  src/prometheus_fastapi_instrumentator/metrics.py
  src/prometheus_fastapi_instrumentator/middleware.py
  tests/test_instrumentator_multiple_apps.py
  tests/test_metrics.py
Due: black, flake8, isort, mypy

chore: Bump dev dependencies
  poetry.lock
  pyproject.toml
Due: none

refactor: Remove implicit None
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

fix: Use ephemeral registry for multiproc
  src/prometheus_fastapi_instrumentator/instrumentation.py
Due: black, flake8, isort, mypy

test: Improve multiproc testing
  Taskfile.yaml
  tests/helpers/utils.py
  tests/test_instrumentation.py
  tests/test_instrumentator_multiproc.py
Due: black, flake8, isort

ci: Adjust test steps
  .github/workflows/ci.yaml
Due: none

chore: Remove unused test utils
  tests/helpers/utils.py
Due: black, flake8, isort

fix: Fix handling of multi process mode in metrics endpoint (#229)
  .github/workflows/ci.yaml
  CHANGELOG.md
  Taskfile.yaml
  poetry.lock
  pyproject.toml
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/helpers/utils.py
  tests/test_instrumentation.py
  tests/test_instrumentator_multiproc.py
Due: black, flake8, isort, mypy

feat: Make add() accept args funcs
  src/prometheus_fastapi_instrumentator/instrumentation.py
  tests/test_instrumentator_multiple_apps.py
Due: black, flake8, isort, mypy

Path conditions:
  black: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  flake8: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  isort: any of: \.py$, but not: (?x)^(
  poetry.lock
)$

  mypy: any of: ^src/.+$ and not (^tests/.+$) and not ((?x)^(
  poetry.lock
)$
)
